:root{
  --clr-primary-yellow: #ffc134;
  --clr-black: hsl(210, 19%, 15%);
  --clr-white: hsl(43, 100%, 99%);
  --clr-primary-yellow-trans: hsla(42,100%,60%,0.5);
  --clr-black-opacity: hsla(210, 19%, 15%, 0.5);
  --clr-white-opacity: hsla(43, 100%, 99%, 0.5);
}

@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: var(--clr-primary-yellow) url('./assets/images/background_space.jpg');
  background-size: cover;
  font-family: 'Inter';
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

.clock{
  width: 30rem;
  height: 30rem;
  border: 20px solid var(--clr-white);
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1),
              inset 0 0 0 3px #efefef,
              inset 0 0 10px black,
              0 0 10px rgba(0, 0, 0, 0.2); 
}

.clock-face{
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}

.hand{
  width: 50%;
  height: 6px;
  background: var(--clr-primary-yellow);
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.title{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 50px auto;
  & h2, p{
    color: var(--clr-white);
  }
  & p{
    margin-top: 1rem;
    font-size: 1.3rem;
  }
}

/* Link Follow Me */
.link{
  z-index: 1;
  position: fixed;
  background-color: var(--clr-black);
  padding: 1.4375rem 2.5rem;
  right: -8rem;
  border-radius: 0.3125rem;
  top: 50%;

  transform: translateY(-50%);
  transform: rotate(-90deg);

  font-size: 1.125em !important; 
  font-weight: 500;
  color: var(--clr-white);
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.1s ease-in-out;
  & i{
    padding-left: 0.4375rem;
  }
  &:hover{
    text-decoration: underline;
    background-color: var(--clr-white);
    color: var(--clr-black);
  }
}

.attribution {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 10px auto;
  font-size: 11px; 
  text-align: center;
  color: var(--clr-white);
  /* margin-bottom: 1rem; */
  & a {
    text-decoration: none;
    color: var(--clr-primary-yellow);
  }
}